$main-color: #ffff;
$primary-color: #00feff;
$secondary-color: #632EF2;
$tertiary-color: none;
$text: #000000;
$text-secondary: #B1B1B1;
$text-secondary-02: #E6E6E6; 
$error: #ED0A34;
$succes: #0284C7;